[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pyyaml = "*"
pandas = "*"
numpy = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
